---
import { Github } from './Github';
---

<nav
  class="bg-tk-elements-topBar-backgroundColor transition-theme border-b border-tk-elements-app-borderColor flex max-w-full items-center p-3 px-4 min-h-[56px]"
>
  <div class="flex flex-1">
    <slot name="logo" />
  </div>
  <div class="mr-2">
    <slot name="open-in-stackblitz-link" />
  </div>

  <Github />

  <div>
    <slot name="theme-switch" />
  </div>
  <div>
    <slot name="login-button" />
  </div>
</nav>

<style is:global>
body .markdown-content .slide :is(h1, h2, h3, h4, h5, h6) { 
  font-size: 4rem;
  line-height: 5rem;
  margin-bottom: 2rem;
}
body .markdown-content .slide p,
body .markdown-content .slide a,
body .markdown-content .slide li,
body .markdown-content .slide blockquote {
  font-size: 1.5rem;
  line-height: 3rem;
}
</style>
